.cart-sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(219, 219, 219);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1500; /* Defina um valor de z-index maior */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cart-sidebar.open {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items {
    flex-grow: 1;
    overflow-y: auto;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffcc00;
    color: black;
}